{{> header}}

{{> navbar}}

    <div class="row">
        <div class="col-4">
            <h1>Hermoso Ferrari Blanco</h1>
        </div>
        <div class="col-8">
            <img src="assets/img/car3.jpg" class="img-thumbnail" style="width: 100%;height: 100%;">
        </div>
    </div>

{{> footer}}
