{{> header}}

{{> navbar}}

    <div class="jumbotron">
        <h1 class="display-4">Hola, {{capitalizar nombre}}!</h1>
        <p class="lead">Esta es una unidad de héroe simple, un componente de estilo jumbotron simple para llamar la atención sobre el contenido o la información destacados.</p>
        <hr class="my-4">
        <p>Utiliza clases de utilidad para la tipografía y el espaciado para espaciar el contenido dentro del contenedor más grande.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{{> footer}}

